body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #131633;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box {
  width: auto;
  padding: 40px;
  /* transform: translate(-50%, -50%); */
  background: #191919;
  text-align: center;
}
.box h1,
.box h6 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"],
.box input[type="password"],
.box select {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

option {
  background: #131633;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.box input[type="submit"],
.button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover,
.button:hover {
  background: #2ecc71;
}

a:hover {
  text-decoration: none;
}

img.structure {
  width: 20vw;
}
