{% extends 'base.html' %} {% block title %}CrossWord{% endblock %} {% block
content %}

<div class="box shadow-lg rounded" style="width: 70%;">
  {% if message %}
  <h1>
    {{message}}
  </h1>
  {% else %}
  <h1>Here is your Crossword!</h1>
  <br />
  <div id="img"></div>
  <br />
  {% endif %}
  <form action="{{url_for('homepage')}}" method="GET" class="mt-4">
    <input type="submit" class="button" value="New Crossword" />
  </form>
</div>

<script>
  const id = "{{id}}"
  const link = `/static/${id}.png`;


  const container = document.getElementById("img");
  fetch(link).then((data) => {
    console.log(data.url);
    console.log(container);
    container.innerHTML = `<img style='width:90%'src='${data.url}' />`;
  });
</script>
{% endblock %}
